<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frame.authority.dao.IUserDao">
	<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->
	<select id="selectList" resultType="SysUser" parameterType="map">  
        SELECT 
			*
 		FROM user where 1=1 ${where}
	</select> 
	
	<select id="selectPageList" resultType="User">  
        SELECT 
			*
 		FROM user  
	</select> 
	
	<select id="get" parameterType="string" resultType="SysUser">
	    select * from user where user_id = #{id}
	</select>
	
	<update id="update">
	    update user 
		    set username = #{username},
		    password = #{password},
		    nick = #{nick},
		    sex = #{sex}
		where user_id = #{user_id}
	</update>
	
	<insert id="insert" parameterType="SysUser" keyProperty="user_id">
	    insert into user(
	    	username,password,nick,sex
	    )  values(
	    	#{username},#{password},#{nick},#{sex}
	    )
	    
		<selectKey keyProperty="user_id" resultType="String" order="AFTER">  
	        select max(user_id) from user
	    </selectKey> 
	</insert>
</mapper>	
